{% extends "dy0.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

<script type="text/javascript">
  // var intervalID = setTimeout(update_values, 10000);

  text_to_speech = (botResponse) => {
    console.log('text-to-speech');
    $.post($SCRIPT_ROOT + '/_text_to_speech', { bot_response: botResponse }, () => {
      // call listening function again when response speech has finished
      update_values();
    })
  }

  function update_values() {
    $.getJSON($SCRIPT_ROOT + '/_stuff',
      (data) => {
        $('#result').text(data.result);
        $('#bot-response').text(data.botResponse);
        setTimeout(text_to_speech(data.botResponse), 1000)
      }
    );
  };

</script>

<body onload="update_values();">
  <div class="body-container">
  <div class="audeince-text-container">
    <span class="audience-text" id="result"></span>
  </div>
  <div class="bot-text-container">
    <span class="bot-text" id="bot-response"></span>
  </div>
</div>
  <script>
    document.getElementById("result").innerHTML;
    document.getElementById("bot-response").innerHTML;
  </script>
</body>
{% endblock %}