@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    background-color: black;
    font-family: 'Archivo Black', sans-serif;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-container > div {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audience-text {
    color: #CBF83E;
    text-shadow: 3px 3px #8aa8a1;
    font-size: larger;
}

.bot-text {
    color: #CBCBD4;
    text-shadow: 3px 3px #885a89;
}