body {
    background-color: black;
    font-size: larger;
    font-family: "Vibur", sans-serif;
    height: 100vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-container > div {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audience-text {
    color: #CBF83E;
}

.bot-text {
    color: #D8DFEE;
}